header {
    min-height: 100vh;
    background: url(../../assets/frog_img.jpg);
    background-size: cover;
    background-position: center;
}
.cta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.main-heading .small{
    font-weight: 200;
}
.main-heading .bold{
    font-weight: 800;
}
.main-heading {
    padding: 3rem;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

.cta .cta-subtitle{
    padding-top: 0px;
    padding-bottom: 4rem;
    color: lightslategray;
    

}
.cta-buttons {
    display: flex;
    gap: 0rem ;
    align-items: center;
    padding-bottom: 3rem;
} 
.btn-primary{
    font-size: 16px;
    text-decoration: none;
    color: black;
    border-radius: 20px;
    padding: 10px 20px;
    transition: color 0.3s ease;

}
.btn-primary:hover{
    color: #fff;
    background-color: var(--orange-color);
}
.btn-secondary{
    font-size: 16px;
    text-decoration: none;
    color: black;
    border-radius: 20px;
    padding: 10px 20px;
    transition: color 0.3s ease;

}
.btn-secondary:hover{
    color: #fff;
    background-color: var(--orange-color)
}
.categorized {
    display: flex;
     gap:20px; 
     justify-content: center; 
    /* flex-wrap: wrap; */
    padding: 40px 20px; 
    /* background: #fff; */

}
.card {
        background: #fff;
        border-radius: 12px;
        padding: 30px 20px;
        /* width: 280px; */
        text-align: left;
        border: 1px solid #f0f0f0;



}

