nav{
    /* position: fixed; */
    width: 1024;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    border-radius: 0px 0px 10px 10px;
    border: 1px solid white;
    backdrop-filter: blur(20px);
   
}
li a {
    color: black;
    transition: color 0.3s ease;
    font-size: 16px;
    text-decoration: none;
    /* color: black; */
    border-radius: 20px;
    padding: 10px 20px;
    
}
li a:hover {
    background-color: var(--orange-color);
    color: #fff;
}

nav ul{
    display: flex;
    gap: 60px;
    list-style: none;
    
}

li a {
  text-decoration: none;
  color: #000;
}
.auth-buttons{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.sign-in{
    font-size: 16px;
    text-decoration: none;
    color: black;
    border-radius: 20px;
    padding: 10px 20px;
    transition: color 0.3s ease;

}
.sign-in:hover{
    color: #fff;
    background-color: #000;
}
.get-started{
    font-size: 16px;
    color: black;
    text-decoration: none;

    border-radius: 20px;
    padding: 10px 20px;
    transition: color 0.3s ease;

}
.get-started:hover{
    color: #fff;
    background-color: #000;
}