
nav{
  
  display: flex;
  justify-items: center;
  align-items: center;
  border: 1px solid white;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 40px;

}
nav ul{
  display: flex;
  list-style: none;
  gap: 50px;
  padding-left: 100px;
  
}
nav li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  border-radius: 20px;
  padding: 10px 20px;
  transition: color 0.3s ease;


}
nav li a:hover {
  color: white;
  background-color: var(--orange-color);

}

img {
  width: 150px;
}

.auth-buttons{
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: auto;
  

}

.si{
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  border: none;
  background-color: white;
  transition: color 0.3s ease;
}
.si:hover{
  color: white;
  background-color: black;


}
.gs{
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  border: none;
  background-color: white;
  transition: color 0.3s ease;
}
.gs:hover{
  color: white;
  background-color: black;


}
