:root{
  --orange-color: #FF4E08;
  --gray-color: #9A8983;
  --linear-gardient: #7000FF;
  --light-gray: #D2C6C2;
}
body{
  background: #FFF8EB;
  margin: 0;
  font-family: 'sora', sans-serif;

}
*,
::after,
::before{
  box-sizing: border-box;

}
.container{
  max-width: 1024px;
  margin: 0 auto;
}

